# =========================
# OS ignorables
# =========================

## ----------------
## macOS ignorables
## ----------------
.DS_Store
*/.DS_Store
**/.DS_Store

## ----------------
## win ignorables
## ----------------

# ...

# =========================
# lang ignorables
# =========================

## ----------------
## java ignorables
## ----------------

*.class
*/*.class
**/*.class

